


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(to right, #fdfeff, #0ed4e3);

}

.main_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_text {
    text-align: center;
    margin-bottom: 40px;
}

.heading {
    font-size: 3.5rem;
    color: #243131;
    margin-bottom: 20px;
    /* font-weight: bold; */
    font-family: "Alata", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.follow_text{
    font-size: 1.5rem;
    color: #2f4f4f;
    margin-bottom: 20px;
    font-weight: bold;
}

.subheading {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.5;
}

.gallary {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallary a {
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallary a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallary a:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.gallary a:hover img {
    transform: scale(1.1);
}

a#image-link {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .gallary a {
        width: 100%;
    }
    
    .heading {
        font-size: 2.5rem;
    }
    
    .subheading {
        font-size: 1.2rem;
    }
}
